/* media query for preferred color scheme */
@media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: #202302;
        --clr-secondary: #00100d;
        --clr-accent: #ff7750;

        --foreground: var(--clr-dark);
        --background: var(--clr-light);
    }
}